body {
    background:black;
}

header {
    background: black;
    color: white;
    padding: 25px 500px 20px 20px;
    margin: 0%;
    display: inline;
}
.blog{
    background: black;
    color: white;
    padding: 10px;
    margin: 0%;
    display: inline;   
}

ul {
    display: inline;
}

#special {
    background: #F65F0D;
    display: inline-block;
    list-style-type: none;
    padding: 10px 30px;
    margin: 0%;
}

#special a {
    color:white;
}

img {
    text-align: center;
    margin: 10%;
    padding: 20px;
}

p{
    color:white;
    text-align: center;
}

ul{
    color:white;
    text-align: center;
    display:inline-block;
    list-style-type: none;
}
.reflection{
    background:white;
}

.image{
    text-align: center;
    width: 100%;
}
.commandline{
    text-align: left;
    width: 10%;
    height: 10%;
   
}


table {
    table-layout: auto;
    background: rgb(182, 49, 49);
    display: inline-block;
    border: 1px solid white;
}

th {
    width:20%;
    color:white;
    border: 1px solid white;
}
td {
    width:100%;
    border: 1px solid white;
}

div{
    width: 100%;
    text-align: center;
}
.command {
    background: white; 
    display: inline;
}
h1 {
    background: black;
    color: white;
    padding: 30px;
    text-align: center;
}



